/* CSS files add styling rules to your content */

.titleH1 {
  margin: 0;
  padding-left: 0.5em;
  font-size: 3em;
  font-weight: bold;
}

.titleH2 {
  margin: 0;
  padding-left: 1em;
  color: #D3D3D3;
}

.iconImage {
    width: 10em;
    margin-bottom: 0.3em;
}

@media (prefers-color-scheme: light) {
  .titleH2 {
    margin: 0;
    padding-left: 1em;
    color: #8b8b8b;
  }
}

.sectionTitle {
  margin: 0;
  padding-left: 1em;
  color: #53A2BE;
}

.leftpad {
  margin: 0;
  padding-left: 2em;
}

.topdiv {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.titlediv {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

.appstoreButton {
  height: 3em;
  width: auto;
}

.explanationDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}

.featureSection {
  margin: 2em;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.screenshot {
  width: 20em;
  height: auto;
}

.dscreenshot {
  width: 25em;
  height: auto;
}

.videoWrapper {
  position: relative;
  margin: 2em;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width:700px){
  .featureSection {
    margin: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .topdiv {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .titleH1 {
    margin: 0;
    padding-left: 0.5em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  .titleH2 {
    margin: 0;
    padding-left: 1em;
    color: #D3D3D3;
    text-align: center;
  }
  
  .iconImage {
    width: 5em;
    margin-bottom: 0.3em;
  }
}

